h1 Login

form(method='get', action='/authenticate')
 p login using your gmail account
 input(type='hidden', name='openid_identifier',
  value='https://www.google.com/accounts/o8/id')
 input(type='submit', value='Login')
